{% extends "amity_global/base.html" %}
{% load static %}
{% block content %}
  <!-- Navbar Start -->
  {% for pages in page %}
    <section class="banner">
      <div class="image-cont">
        <img src="{{ pages.slider_image.url }}" alt="" class="w-full" style="height:100%; object-fit: cover;">
      </div>
      <h2>{{ pages.name }}</h2>
      <div class="overylay"></div>
    </section>
    <!-- Full Screen Search Start -->
    
    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
          <div class="modal-header border-0">
            <button type="button"
                    class="btn bg-white btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex align-items-center justify-content-center">
            <div class="input-group" style="max-width: 600px;">
              <input type="text"
                     class="form-control bg-transparent border-primary p-3"
                     placeholder="Type search keyword">
              <button class="btn btn-primary px-4">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Full Screen Search End -->
    <!-- Start Portfolio -->
    <section class="job-staff">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-5">
            <div class="job-staff_img">
              <img src="{{ pages.bannerimage.url }}" alt="">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="job-staff_text">
              <h3 class="text-center">{{ pages.caption }}</h3>
              <p class="text-center mt-4">
                {% autoescape off %}
                  {{ pages.short_desc }}
                {% endautoescape %}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          {% for uns in un %}
            <div class="col-lg-2">
              <div class="main-one">
                <div class="substaff_img mt-5">
                  <img src="{{ uns.bannerimage.url }}" alt="" class="img-fluid w-100">
                </div>
                <div class="substaff-text">
                  <h6 class="text-center">{{ uns.caption }}</h6>
                </div>
              </div>
            </div>
          {% endfor %}
          {% comment %} <div class="col-lg-2">
            <div class="main-one">
              <div class="substaff_img">
                <img src="img/cleaner2-3122363_640.jpg" alt="">
              </div>
              <div class="substaff-text">
                <h6 class="text-center">Cleaner</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="main-one">
              <div class="substaff_img">
                <img src="img/cleaner2-3122363_640.jpg" alt="">
              </div>
              <div class="substaff-text">
                <h6 class="text-center">Cleaner</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="main-one">
              <div class="substaff_img">
                <img src="img/cleaner2-3122363_640.jpg" alt="">
              </div>
              <div class="substaff-text">
                <h6 class="text-center">Cleaner</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="main-one">
              <div class="substaff_img">
                <img src="img/cleaner2-3122363_640.jpg" alt="">
              </div>
              <div class="substaff-text">
                <h6 class="text-center">Cleaner</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="main-one">
              <div class="substaff_img">
                <img src="img/cleaner2-3122363_640.jpg" alt="">
              </div>
              <div class="substaff-text">
                <h6 class="text-center">Cleaner</h6>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </section>
  {% endfor %}
  <!-- End Portfolio -->
{% endblock content %}
