{% extends "amity_global/base.html" %}
{% load static %}
{% block content %}
    {% for about in abo %}
        <section class="banner">
            <div class="image-cont">
                <img src="{{ about.slider_image.url }}" alt="" class="w-full" style="height:100%; object-fit: cover;">
            </div>
            <h2>{{ about.caption }}</h2>
            <div class="overylay"></div>
        </section>
        <!-- Full Screen Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                    <div class="modal-header border-0">
                        <button type="button"
                                class="btn bg-white btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center justify-content-center">
                        <div class="input-group" style="max-width: 600px;">
                            <input type="text"
                                   class="form-control bg-transparent border-primary p-3"
                                   placeholder="Type search keyword">
                            <button class="btn btn-primary px-4">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Full Screen Search End -->
        <!-- About Start -->
        <div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-7">
                        <div class="section-title position-relative pb-3 mb-5">
                            <h5 class="fw-bold text-dark text-uppercase">{{ about.caption }}</h5>
                            <h1 class="mb-0">{{ about.title }}</h1>
                        </div>
                        <p class="mb-4">
                            {% autoescape off %}
                                {{ about.short_desc }}
                            {% endautoescape %}
                        </p>
                        <!-- <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Request
                        A Quote</a> -->
                    </div>
                    <div class="col-lg-5" style="min-height: 500px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded wow zoomIn"
                                 data-wow-delay="0.9s"
                                 src="{{ about.bannerimage.url }}"
                                 style="object-fit: cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- About End -->
{% endblock content %}
